.Sed__Box_Button {
  max-width: 100px;
}

.Sed__StyledBox {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  visibility: visible;
  right: 0;
  left: 0;
  opacity: .3
}

.Sed__BG_Container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.Pointer {
  position: absolute;
  top:-50px;
  left:-5px;
}

